{% extends "streamer.html" %}

{% import "macros.html" as macros with context %}

{% block content %}
<div class="container">
  <h2 class="text-center"> GLM Programming Talk Show</h2>
  <h3 class="text-center"> Episode 5. Geoff Greer. The silver searcher, Floobits. </h3>
  <div class="row">
    {% if false %}
      <div class="col-md-8">
        <p>
          We'll talk about ag, floobits, opensource and programming in general.  
          <br>
          <strong>Geoff's website:</strong> <a href="http://geoff.greer.fm/">geoff.greer.fm</a>
          <br>
          <strong>Geoff's github:</strong> <a href="https://github.com/ggreer">ggreer</a>
          <br>
          <strong>Geoff's twitter:</strong> <a href="https://twitter.com/ggreer">@ggreer</a>
          <br>
          <a href="https://floobits.com/"><strong>Floobits:</strong> Cross-editor real-time collaboration</a>
        </p>
          <script type="text/javascript" src="http://jwpsrv.com/library/6VhvUr6JEeSgMBJtO5t17w.js"></script>
          {{ macros.stream_macro(wpc_stream, true, title_form if streamer == current_user else none, not current_user.already_subscribed(streamer)) }}
      </div>

      <div class="col-md-4">
        <br>
        {{ macros.render_chat(streamer) }}
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-8">

        <form action="" method="POST" class="form form-subscribe" role="form">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Get email notifications about future episodes</h1>
            </div>

            <div class="panel-body">
              <div class="form-group">
                {{ subscribe_form.hidden_tag() }}
                {{ wtf.form_field(subscribe_form.email, value="") }}
                {{ wtf.form_field(subscribe_form.submit_button, button_map={'submit_button': 'primary'}) }}
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  <h3> Archive </h3>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">[META] "How to learn programming?" </h3>
        </div>
        <div class="panel-body">
          <p>
            Every episode I ask the same question: "What advice would you give to people who are just starting to learn programming?". What really surprised me is that people give very different advice! I took recordings, did some editing and combined 4 responses into single video
          </p>
          {{ macros.stream_macro(how_to_learn_programming, false, none) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Episode 5. Geoff Greer. The silver searcher, Floobits. </h3>
        </div>
        <div class="panel-body">
          <p>
            We talked about ag, Floobits, opensource and programming in general.  
            <br>
            <strong>Geoff's website:</strong> <a href="http://geoff.greer.fm/">geoff.greer.fm</a>
            <br>
            <strong>Geoff's github:</strong> <a href="https://github.com/ggreer">ggreer</a>
            <br>
            <strong>Geoff's twitter:</strong> <a href="https://twitter.com/ggreer">@ggreer</a>
            <br>
            <a href="https://floobits.com/"><strong>Floobits:</strong> Cross-editor real-time collaboration</a>
          </p>
          {{ macros.stream_macro(yt_stream_ep5, false, none) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Episode 4. /u/mncke , the author of Squire and Necromancer for /r/thebutton</h3>
        </div>
        <div class="panel-body">
          <p>
            We talked about /r/thebutton , its technical aspects, culture
            <br>
            <strong>mncke's github:</strong> <a href="https://github.com/Abrackadabra">Abrackadabra</a>
          </p>
          {{ macros.stream_macro(yt_stream_ep4, false, none) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Episode 3. Justin M. Keyes, neovim contributor</h3>
        </div>
        <div class="panel-body">
          <p>
            We talked about neovim, vim plugins, opensource and programming in general.
            <br>
            <strong>Justin's twitter:</strong> <a href="https://twitter.com/justinmk">@justinmk</a>
            <br>
            <strong>Justins's github:</strong> <a href="https://github.com/justinmk">justinmk</a>
          </p>
          {{ macros.stream_macro(yt_stream_ep3, false, none) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> Episode 2. Josh Matthews, Mozilla Engineer working on Servo </h3>
        </div>
        <div class="panel-body">
          <p>
            We talked about Servo, Rust, Mozilla, opensource and programming in general.
            <br>
            <strong>Josh's website:</strong> <a href="http://www.joshmatthews.net/">joshmatthews.net</a>
            <br>
            <strong>Josh's twitter:</strong> <a href="https://twitter.com/lastontheboat">@lastontheboat</a>
            <br>
            <strong>Josh's github:</strong> <a href="https://github.com/jdm">jdm</a>
            </p>
          {{ macros.stream_macro(yt_stream_ep2, false, none) }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Episode 1. Mike Conley, Mozilla Engineer working on Firefox</h3>
        </div>
        <div class="panel-body">
          <p>
            We talked about Firefox, Mozilla, opensource and programming in general.
            <br>
            <strong>Mike's twitter:</strong> <a href='https://twitter.com/mike_conley'>@mike_conley</a>
            <br>
            <strong>Mike's youtube channel:</strong> <a href='https://www.youtube.com/user/mikeconleytoronto'>mikeconleytoronto</a>
          </p>
          {{ macros.stream_macro(yt_stream_ep1, false, none) }}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
