{% extends "bootstrap/base.html" %}  
{% import "bootstrap/wtf.html" as wtf %}

{% block html_attribs %} lang="en"{% endblock html_attribs %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{g.ga_tracking_code}}', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}

{% block navbar %}
{#<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{url_for('index')}}"> WatchPeopleCode </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <form action="{{url_for('search')}}" method="POST" class="navbar-form" role="search">
            {{ g.search_form.hidden_tag() }}
            <input class="form-control" id="query" name="query" required type="text" value="">
            {{ wtf.form_field(g.search_form.search_button) }}
          </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_anonymous() %}
            <a href={{url_for(".authorize")}} class="btn navbar-btn btn-success">Sign in with reddit</a>
          {% else %}
            <a href={{url_for(".logout")}} class="btn navbar-btn ">Logout</a>
          {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav> #}

  {% include 'flashed_messages.html' %}
{% endblock %}

{% block title %}Watch People Code{% endblock %}

{% block content %}
{% endblock %}
