{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block scripts %}
		<script type="text/javascript">
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
{% endblock %} 

{% block content %} 
		<header>
			<div class="row">
				<div class="col-lg-4">
					<div class="title">
						<h1 class="sitetitle">
							WatchPeopleCode.com
						</h1>
					</div>
				</div>
				<div class="visible-xs col-lg-4">
					<div class="topform">
						<p class="white">
							Get notified about upcoming streams
						</p>
						<form>
							<div class="full">
								<input type="text" placeholder="Email" />
								<input type="submit" value="Submit" >
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div id="twitterclm">
						<a href="https://twitter.com/WatchPeopleCode" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @WatchPeopleCode</a>
					</div>
					<ul class="nav nav-tabs">
						<li role="presentation">
							<a href="#/live">Live and Upcoming</a>
						</li>
						<li role="presentation">
							<a href="#/completed">Completed</a>
						</li>
						<li role="presentation">
							<a href="#/podcast">Podcast</a>
						</li>
					</ul>
				</div>
				<div class="hidden-xs col-lg-4">
					<div class="topform">
						<p class="white">
							Get notified about upcoming streams
						</p>
						<form>
							<div class="full">
								<input type="text" placeholder="Email">
							</div>
						</form>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="toptext">
				<p class="text-center">
					The app automatically gets live stream from /r/WatchPeopleCode subreddit, so if you want to start live streaming, submit a link to your youtube stream or twitch channel to <a href="http://www.reddit.com/r/WatchPeopleCode">/r/WatchPeopleCode</a>
				</p>
			</div>
      {{ macros.streams(live_streams, 'live') }}
		</div>
		<footer>
			<div class="row">

				<div class="col-lg-12" style="text-align: center;">
					<small>© 2015 WatchPeoplecode.com</small>
				</div>
			</div>
		</footer>
{% endblock content %}
