{% import "bootstrap/wtf.html" as wtf %}

{% macro stream_macro(stream, autoplay=false, title_form=none, with_subscribe_button=false) %}
  {# time #}
  {% if stream.status == 'upcoming' and stream.scheduled_start_time %}
    <p><b>{{stream.format_start_time()}}</b></p>
  {% endif %}
  
  {# title & #}
  <div class="stream-title">

  <a href={{ stream.normal_url() }}><span class="stream-title-name">{{ stream.title if stream.title else stream.normal_url() }}</span></a>

  {% if stream.streamer %}
  by <a href={{ url_for('.streamer_page', streamer_name=stream.streamer.reddit_username) }}>{{ stream.streamer.reddit_username }}</a>
  {% endif %}

  {% if stream.current_viewers is not none %}
    | <span class="viewers-count-stream viewers-count-stream-{{stream.id}}">{{ stream.current_viewers }} {{ 'viewers' if stream.current_viewers != 1 else 'viewer' }}</span>
  {% endif %}
  {% if stream.streamer and with_subscribe_button %}
    | <button class="btn btn-success btn-xs subscribe-button subscribe-button-{{stream.streamer.id}}">Subscribe</button>
  {% endif %}
  {% if title_form %}
    <button type="button" class="btn btn-default edit-title-button">Edit stream title</button>
    </div> {# stream-title #}
    <form action="" method="POST" class="form form-edit-title" role="form" {% if not edit_title %} style="display:none;" {% endif %}>
      <br>
      <div class="form-group">
        {{ title_form.hidden_tag() }}
        {{ wtf.form_field(title_form.title) }}
        {{ wtf.form_field(title_form.submit_button, button_map={'submit_button': 'default'}) }}
      </div>
    </form>
  {% else %}
    </div> {# stream-title #}
  {% endif %}

  {# video #}
  {{ stream.html_code(autoplay=autoplay)|safe }}
  <hr>
{% endmacro %}


{% macro streams(streams, status, with_subscribe_button=false) %}
  {% for stream in streams %}
    {{ stream_macro(stream, true if status == 'live' and loop.index == 1 else false, none, with_subscribe_button if not current_user.already_subscribed(stream.streamer) else false) }}
  {% endfor %}
{% endmacro %}


{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1 %}
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <li  class="disabled"><span>…</span></li>
      {% endif %}
    {%- endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_chat(streamer) %}
  <div class="panel panel-default panel-chat">
    <div class="panel-heading">
      <h3 class="panel-title">Chat</h3>
    </div>

    <div class="panel-body">
      <div class="chat-loading"><i>Chat is loading...</i></div>
      <ul class="messages"></ul>
      <form class="compose-message-form">
        <div class="form-group">
          <textarea class="form-control" name="message"></textarea>
          <br>
          <button class="btn btn-info" type="submit">Send </button>
          {% set popout_url = url_for('streamer_popout_chat', streamer_name=streamer.reddit_username) %}
          <a href="#" target="popup" class="popup" onclick="window.open('{{popout_url}}','name','width=350,height=650')" >Pop out</a>
        </div>
      </form>
    </div>
    <span class="streamer-name hidden">{{ streamer.reddit_username }}</span>
  </div>
{% endmacro %}
