{% macro streams(streams, status) %}
  {% for stream in streams %}
    {% if stream.type != 'wpc_stream' %}
      {% if status == 'upcoming'%}
        {% if stream.scheduled_start_time %}<p><b>{{stream.format_start_time()}}</b></p> {% endif %}
      {% endif %}
      <a href={{ stream.normal_url() }}> {{ stream.title if stream.title else stream.normal_url() }}</a>
      {% if stream.streamer %}
       by <a href={{ url_for('.streamer_page', streamer_name=stream.streamer.reddit_username) }}>{{ stream.streamer.reddit_username }}</a>
      {% endif %} 
      <br>
      {{ stream.html_code(autoplay=(loop.index == 1) if status == 'live' else False ) |safe }}
      <hr>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1 %}
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <li  class="disabled"><span>…</span></li>
      {% endif %}
    {%- endfor %}
    </ul>
  {% endif %}
{% endmacro %}
