{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}Watch people code: past streams{% endblock %}

{% block content %}
  {{super()}}

  <div class="container">
      <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>
      {% if query %}
        <p class="text-center"><a href={{url_for(".past_streams")}}>All past streams</a></p>
        <h3 class="text-center">Past streams that match query "{{query}}"</h3>
      {% endif %}


      <div class="col-md-offset-2 col-md-8 text-center">
        {{ macros.render_pagination(streams) }}
        <br>
        {% if streams.items %}
          {{ macros.streams(streams.items, 'completed', true) }}
        {% else %}
          Sorry, we have no results for your request right now.
        {% endif %}
        {{ macros.render_pagination(streams) }}
      </div>
  </div>
{% endblock %}
