{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros with context %}

{% block title %} Streamer {{ streamer.reddit_username }} {% endblock %}

{% block content %}
  {{super()}}
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>
      <strong>Reddit username:</strong> <a href='http://www.reddit.com/user/{{ streamer.reddit_username }}'> {{ streamer.reddit_username }}</a>
      {% if streamer.youtube_channel %}
        <br>
        <strong>Youtube channel:</strong> <a href='http://www.youtube.com/channel/{{ streamer.youtube_channel }}'>{{ streamer.youtube_name if streamer.youtube_name else streamer.youtube_channel }}</a>
      {% endif %}
      {% if streamer.twitch_channel %}
        <br>
        <strong>Twitch:</strong> <a href='http://www.twitch.tv/{{ streamer.twitch_channel }}'>{{ streamer.twitch_channel }}</a>
      {% endif %}
      <br>
      {% if current_user == streamer %}
          <div class="info-block">
            <strong>Info:</strong> {{ streamer.info | nl2br }}
            <br>
            <br>
            <div class="text-left"><button type="button" class="btn btn-default edit-button">Edit info</button></div>
          </div>

          <div class="col-md-6">
            <form action="" method="POST" class="form form-edit-info" role="form" style="display:none;">
              <div class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.info, rows=5) }}
                {{ wtf.form_field(form.submit_button, button_map={'submit_button': 'default'}) }}
              </div>
            </form>
          </div>
      {% elif streamer.info %}
        Info: {{ streamer.info | nl2br }}
      {% endif %}
      <br>
      {{ macros.render_pagination(streams) }}
      <br>
      {% for stream in streams.items %}
        <a href={{ stream.normal_url() }}> {{ stream.title if stream.title else stream.normal_url() }}</a>
        <br>
        {{ stream.html_code() |safe }}
        <hr>
      {% endfor %}
      {{ macros.render_pagination(streams) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    (function($, window, undefined){
      var form_edit = $(".form-edit-info");
      var info_block = $(".info-block");
      $(".edit-button").click(function() {
        info_block.hide();
        form_edit.show();
      });
      $(".submit-button").click(function() {
        form_edit.hide();
        info_block.show();
      });
    }($, window));
  </script> 
{% endblock %}
