{% extends "base.html" %}

{% block title %} No lag alpha test {% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block content %}
  {{super()}}
  <div class="container">
    <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>

    <div class="row">
      <div class="col-md-8">
        <a href={{ url_for('.streams') }}> {{ wpc_stream.title if wpc_stream.title else 'No lag alpha test' }}</a>
        {% if wpc_stream.streamer %}
          by <a href={{ url_for('.streamer_page', streamer_name=wpc_stream.streamer.reddit_username) }}>{{ wpc_stream.streamer.reddit_username }}</a>
        {% endif %}
        | {{ wpc_stream.viewer_num }} viewers
        <br>
        <div id="video">Loading the player...</div>
      </div>

      <div class="col-md-4">
        <br>
        <div class="panel panel-default panel-chat">

          <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
          </div>

          <div class="panel-body">
            <ul class="messages"></ul>
            <form class="compose-message-form">
              <div class="form-group">
                <textarea class="form-control" name="message"></textarea>
                <br>
                <button class="btn btn-info" type="submit">Send </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>

  <script type="text/javascript" src="http://jwpsrv.com/library/6VhvUr6JEeSgMBJtO5t17w.js"></script>
  <script type="text/javascript">
      jwplayer("video").setup({
          file: 'rtmp://104.236.11.162/live/flv:test',
          width: "640",
          height: "390",
          rtmp: {
              bufferlength: 0.2
          }
      });
  </script>
{% endblock %}
