{% extends "base.html" %}

{% import "macros.html" as macros with context %}

{% block title %}WatchPeopleCode - {{ streamer.reddit_username }}{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block content %}
  {{super()}}
  {# do not move the next string, it's here because it's needed before using jwplayer #}
  <script type="text/javascript" src="http://jwpsrv.com/library/6VhvUr6JEeSgMBJtO5t17w.js"></script>
  <div class="container-fluid">
    <div class="col-xs-8">
      <strong>Reddit username:</strong> <a href='http://www.reddit.com/user/{{ streamer.reddit_username }}'>{{ streamer.reddit_username }}</a>
        <div class="info-block" {% if edit %} style="display:none;" {% endif %}>

          {% if streamer.youtube_channel %}
            <strong>Youtube channel:</strong>
              <a href='http://www.youtube.com/channel/{{ streamer.youtube_channel }}'>
              {{ streamer.youtube_channel_class.title if streamer.youtube_channel_class.title else streamer.youtube_channel }}
              </a>
            <br>
          {% elif streamer == current_user %}
            <strong>Youtube channel:</strong>
            <br>
          {% endif %}

          {% if streamer.twitch_channel %}
            <strong>Twitch channel:</strong> 
            <a href='http://www.twitch.tv/{{ streamer.twitch_channel }}'>
              {{ streamer.twitch_channel }}
            </a>
            <br>
          {% elif streamer == current_user %}
            <strong>Twitch channel:</strong>
            <br>
          {% endif %}

          {% if streamer.info %}
            <strong>Info:</strong> {{ streamer.info | nl2br }}
            <br>
          {% elif streamer == current_user %}
            <strong>Info:</strong>
            <br>
          {% endif %}
      
          {% if streamer == current_user %}  
            <div class="text-left"><button type="button" class="btn btn-sm btn-default edit-info-button">Edit info</button></div>
          {% endif %}
        </div>

      {% if streamer == current_user %}
        <form action="" method="POST" class="form form-edit-info" role="form" {% if not edit_info %} style="display:none;" {% endif %}>
          <br>
          <div class="form-group">
            {{ info_form.hidden_tag() }}
            {{ wtf.form_field(info_form.youtube_channel) }}
            {{ wtf.form_field(info_form.twitch_channel) }}
            {{ wtf.form_field(info_form.info, rows=10) }}
            {{ wtf.form_field(info_form.submit_button, button_map={'submit_button': 'default'}) }}
          </div>
        </form>
      {% endif %}

      <hr><br>
    </div>

    {% if wpc_stream %}
      <div class="row">
        <div class="col-xs-9">
            {{ macros.stream_macro(wpc_stream, true, title_form if streamer == current_user else none, not current_user.already_subscribed(streamer)) }}
        </div>

        <div class="col-xs-3" id='chat-div'>
          <br>
          {{ macros.render_chat(streamer) }}
        </div>
      </div>
    {% endif %}

    <div class="col-xs-8">
      {{ macros.render_pagination(streams) }}
      <br>
      {{ macros.streams(streams.items, status=none) }}
      {{ macros.render_pagination(streams) }}
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  {% if wpc_stream %}
    <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
  {% endif %}
  <script src="http://malsup.github.com/jquery.form.js"></script>

  {% if check_profile_alert %}
    <script>
      bootbox.alert("Please check your profile, some info there was filled based on your submissions in /r/WatchPeopleCode.");
    </script>
  {% endif %}

  <script>
    (function($, window, undefined){
      $(".edit-info-button").click(function() {
        $(".form-edit-title").hide();
        $(".editable-stream-title").show();
        $(".edit-title-button").show();

        $(".info-block").hide();
        $(".form-edit-info").show();
      });

      $(".edit-title-button").click(function() {
        $(".form-edit-info").hide();
        $(".info-block").show();

        $(".editable-stream-title").hide();
        $(".edit-title-button").hide();
        $(".form-edit-title").show();
      });

      var btn = $(".streaming-info-button")
      btn.click(function() {
        if (btn.html() == 'Show') {
          btn.html('Hide');
          $(".streaming-info").show();
        } else {
          btn.html('Show');
          $(".streaming-info").hide();
        }
      });
    }($, window));

    $(document).ready(function() {
        var options = {
            success: function(responseText){
              $(".form-edit-title").hide();
              $(".editable-stream-title-name").html(responseText.newTitle);
              $(".editable-stream-title").show();
              $(".edit-title-button").show();
            },
            dataType: 'json',
            clearForm: false,
            resetForm: false
        }
        $('.form-edit-title').ajaxForm(options);
        $('.form-edit-title').submit(function() {
            return false;
        });
    });
  </script>
{% endblock %}
