{% extends "bootstrap/base.html" %}

{% block title %} {{ streamer.reddit_username }}'s chat {% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
{% endblock %}

{% block content %}
  <div class="panel panel-default panel-chat-popout">

    <div class="panel-heading">
      <h3 class="panel-title">Chat:
        <span class="streamer-name"> {{ streamer.reddit_username }}</span>
      </h3>
    </div>

    <div class="panel-body">
      <ul class="messages"></ul>
      <form class="compose-message-form">
        <div class="form-group">
          <textarea class="form-control" name="message"></textarea>
          <br>
          <button class="btn btn-info btn-sm" type="submit">Send </button>
          <span class="viewers-count-stream viewers-count-stream-{{stream.id}} pull-right">{{ stream.current_viewers }} {{ 'viewers' if stream.current_viewers != 1 else 'viewer' }}</span>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/viewers.js') }}"></script>
{% endblock scripts %}
