{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block title %} Streamer {{ streamer.reddit_username }} {% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='streamer.css')}}">
{% endblock %}

{% block content %}
  {{super()}}
  {# do not move the next string, it's here because it's needed before using jwplayer #}
  <script type="text/javascript" src="http://jwpsrv.com/library/6VhvUr6JEeSgMBJtO5t17w.js"></script>
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>
    </div>

    <div class="col-md-8">
      <strong>Reddit username:</strong> <a href='http://www.reddit.com/user/{{ streamer.reddit_username }}'><span class="streamer-name"> {{ streamer.reddit_username }}</span></a>

      {% if streamer == current_user and streamer.rtmp_secret %}
        <br>
        <strong>WPC streaming key:</strong>
        <div class="streaming-info" style="display:none;">
          URL: <input type="text" class="streaming-info-data" readonly value="rtmp://104.236.11.162/live" onclick="this.select()">
          <br>
          Stream Key: <input type="text" class="streaming-info-data" readonly value="{{ streamer.reddit_username + '?pass=' + streamer.rtmp_secret }}" onclick="this.select()">
        </div>
        <button type="button" class="btn btn-default streaming-info-button">Show</button>
      {% endif %}

        <div class="info-block" {% if edit %} style="display:none;" {% endif %}>

          {% if streamer.youtube_channel %}
            <strong>Youtube channel:</strong>
              <a href='http://www.youtube.com/channel/{{ streamer.youtube_channel }}'>
              {{ streamer.youtube_name if streamer.youtube_name else streamer.youtube_channel }}
              </a>
            <br>
          {% elif streamer == current_user %}
            <strong>Youtube channel:</strong>
            <br>
          {% endif %}

          {% if streamer.twitch_channel %}
            <strong>Twitch channel:</strong> 
            <a href='http://www.twitch.tv/{{ streamer.twitch_channel }}'>
              {{ streamer.twitch_channel }}
            </a>
            <br>
          {% elif streamer == current_user %}
            <strong>Twitch channel:</strong>
            <br>
          {% endif %}

          {% if streamer.info %}
            <strong>Info:</strong> {{ streamer.info | nl2br }}
            <br>
          {% elif streamer == current_user %}
            <strong>Info:</strong>
            <br>
          {% endif %}
      
          {% if streamer == current_user %}  
            <br>
            <div class="text-left"><button type="button" class="btn btn-default edit-info-button">Edit info</button></div>
          {% endif %}
        </div>
        
      {% if streamer == current_user %}
        <form action="" method="POST" class="form form-edit-info" role="form" {% if not edit_info %} style="display:none;" {% endif %}>
          <br>
          <div class="form-group">
            {{ info_form.hidden_tag() }}
            {{ wtf.form_field(info_form.youtube_channel) }}
            {{ wtf.form_field(info_form.twitch_channel) }}
            {{ wtf.form_field(info_form.info, rows=10) }}
            {{ wtf.form_field(info_form.submit_button, button_map={'submit_button': 'default'}) }}
          </div>
        </form>
      {% endif %}

      <hr><br>
    </div>

    {% if wpc_stream %}
      <div class="col-md-8">
          {{ macros.stream_macro(wpc_stream, wpc_stream.status == 'live', title_form if streamer == current_user else none) }}
      </div>

      <div class="col-md-4">
        <br>
        <div class="panel panel-default panel-chat">

          <div class="panel-heading">
            <h3 class="panel-title">Chat</h3>
          </div>

          <div class="panel-body">
            <ul class="messages"></ul>
            <form class="compose-message-form">
              <div class="form-group">
                <textarea class="form-control" name="message"></textarea>
                <br>
                <button class="btn btn-info" type="submit">Send </button>
              </div>
            </form>
          </div>

        </div>
      </div>
    {% endif %}

    <div class="col-md-8">
      {{ macros.render_pagination(streams) }}
      <br>
      {{ macros.streams(streams.items, title_form=title_form if streamer == current_user) }}
      {{ macros.render_pagination(streams) }}
    </div>

  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts/socket.io.min.js') }}"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/chat.js') }}"></script>

  <script>
    (function($, window, undefined){
      $(".edit-info-button").click(function() {
        $(".form-edit-title").hide();
        $(".stream-title").show();
        $(".edit-title-button").show();

        $(".info-block").hide();
        $(".form-edit-info").show();
      });

      $(".edit-title-button").click(function() {
        $(".form-edit-info").hide();
        $(".info-block").show();

        $(".stream-title").hide();
        $(".edit-title-button").hide();
        $(".form-edit-title").show();
      });

      var btn = $(".streaming-info-button")
      btn.click(function() {
        if (btn.html() == 'Show') {
          btn.html('Hide');
          $(".streaming-info").show();
        } else {
          btn.html('Show');
          $(".streaming-info").hide();
        }
      });
    }($, window));
  </script> 
{% endblock %}
