{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block title %} Streamer {{ streamer.reddit_username }} {% endblock %}

{% block content %}
  {{super()}}
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>
      <div class="info-block" {% if edit %} style="display:none;" {% endif %}>
        <strong>Reddit username:</strong> <a href='http://www.reddit.com/user/{{ streamer.reddit_username }}'> {{ streamer.reddit_username }}</a>
        {% if streamer == current_user %}
          <br>
          <strong>Youtube channel:</strong>
          {% if streamer.youtube_channel %}
            <a href='http://www.youtube.com/channel/{{ streamer.youtube_channel }}'>
            {{ streamer.youtube_name if streamer.youtube_name else streamer.youtube_channel }}
            </a>
          {% endif %}
          <br>
          <strong>Twitch:</strong> 
          {% if streamer.twitch_channel %}
            <a href='http://www.twitch.tv/{{ streamer.twitch_channel }}'>
              {{ streamer.twitch_channel }}
            </a>
          {% endif %}
          <br>
          {% if streamer.info %}
            <strong>Info:</strong> {{ streamer.info | nl2br }}
          {% endif %}
            <br>
            <br>
            <div class="text-left"><button type="button" class="btn btn-default edit-button">Edit info</button></div>
        </div>

        <form action="" method="POST" class="form form-edit-info" role="form" {% if not edit %} style="display:none;" {% endif %}>
          <div class="form-group">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.youtube_channel) }}
            {{ wtf.form_field(form.twitch_channel) }}
            {{ wtf.form_field(form.info, rows=10) }}
            {{ wtf.form_field(form.submit_button, button_map={'submit_button': 'default'}) }}
          </div>
        </form>
      {% else %}
        {% if streamer.youtube_channel %}
          <br>
          <strong>Youtube channel:</strong>
          <a href='http://www.youtube.com/channel/{{ streamer.youtube_channel }}'>
            {{ streamer.youtube_name if streamer.youtube_name else streamer.youtube_channel }}
          </a>
        {% endif %}
        {% if streamer.twitch_channel %}
          <br>
          <strong>Twitch:</strong> 
          <a href='http://www.twitch.tv/{{ streamer.twitch_channel }}'>
            {{ streamer.twitch_channel }}
          </a>
        {% endif %}
        {% if info %}
          Info: {{ streamer.info | nl2br }}
        {% endif %}
      {% endif %}
      <br>
      {{ macros.render_pagination(streams) }}
      <br>
      {% for stream in streams.items %}
        {% if stream.type != 'wpc_stream' %}
          <a href={{ stream.normal_url() }}> {{ stream.title if stream.title else stream.normal_url() }}</a>
          <br>
          {{ stream.html_code() |safe }}
          <hr>
        {% endif %}
      {% endfor %}
      {{ macros.render_pagination(streams) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    (function($, window, undefined){
      $(".edit-button").click(function() {
        $(".info-block").hide();
        $(".form-edit-info").show();
      });
    }($, window));
  </script> 
{% endblock %}
