{% macro streams(streams, status) %}
  {% for stream in streams %}
  {% if loop.index0 is even %}
  <div class="row"> 
  {%endif%}
   <div class="col-lg-6">
   
    {% endif %}
    <div class="full"> <a href={{ stream.normal_url() }}> {{ stream.title if stream.title else stream.normal_url() }}</a></div>
    {% if stream.streamer %}
     | <a href={{ url_for('.streamer_page', streamer_name=stream.streamer.reddit_username) }}>{{ stream.streamer.reddit_username }}</a>
    {% endif %} 
    {{ stream.html_code(autoplay=(loop.index == 1) if status == 'live' else False ) |safe }}
 {% if status == 'upcoming'%}
      {% if stream.scheduled_start_time %} <div class="full"><p><b>{{stream.format_start_time()}}</b></p></div> {% endif %}
    </div>
     {% if loop.index0 is even %}
      </div>
     {%endif%}
  {% endfor %}
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% if pagination.pages > 1 %}
    <ul class="pagination">
    {%- for page in pagination.iter_pages() %}
      {% if page %}
        {% if page != pagination.page %}
          <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
        {% else %}
          <li class="active"><span>{{ page }}</span></li>
        {% endif %}
      {% else %}
        <li  class="disabled"><span>…</span></li>
      {% endif %}
    {%- endfor %}
    </ul>
  {% endif %}
{% endmacro %}
