{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block title %}Watch people code: past streams{% endblock %}

{% block content %}
  {{super()}}

  <div class="container">
      <div class="col-md-offset-2 col-md-8">
        <p class="text-center"><a href={{url_for(".index")}}>Back to main page</a></p>
        {{ macros.render_pagination(streams) }}
        <br>
        {% for stream in streams.items %}
          <a href={{ stream.normal_url() }}> {{ stream.title if stream.title else stream.normal_url() }}</a>
          <br>
          {{ stream.html_code() |safe }}
          <hr>
        {% endfor %}
        {{ macros.render_pagination(streams) }}
      </div>
  </div>
{% endblock %}
