<div id="live">
	<h2 class="text-center">
		Live Streams
	</h2>
	<div class="row">
		<div class="col-lg-6" ng-repeat="stream in streams">
			<div class="full">
				<a ng-href="{{stream.url}}">{{stream.title}}</a> by <a ng-href="/streamer/{{stream.username}}">{{stream.username}}</a>
			</div>
			<div class="embed-responsive embed-responsive-16by9" ng-if="stream.youtube">
                <iframe width="640" height="390" ng-src="{{stream.embed}}">
                </iframe>
            </div>
			<div class="embed-responsive embed-responsive-16by9" ng-if="!stream.youtube">
				<object class="embed-responsive-item" type="application/x-shockwave-flash" height="390" width="640" id="live_embed_player_flash" data="http://www.twitch.tv/widgets/live_embed_player.swf?channel={{stream.user}}" bgcolor="#000000">
					<param name="allowFullScreen" value="true">
					<param name="allowScriptAccess" value="always">
					<param name="allowNetworking" value="all">
					<param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf">
					<param name="flashvars" value="hostname=www.twitch.tv&amp;channel={{stream.user}}&amp;auto_play=true">
				</object>
			</div>
		</div>
	</div>
</div>