.alert {
    position: relative;
    z-index: 10;
}

.btn-sign {
  border-radius: 0;
}

.stream-title {
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.video-container {
    position: relative;
    padding-bottom: 62.5%;
    height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.viewers-and-subscribers > * {
    margin-left: 10px;
}

.viewers-and-subscribers {
    margin-top: 5px;
}

#dashboard_rtmp_url,#dashboard_rtmp_key {
    cursor: auto;
}

div.email-info {
    max-width: 400px;
}

div.private-info {
    padding-top: 20px;
}
