.messages {
  list-style-type: none;
  padding: 5px;
}

.compose-message-form {
  display: none;
}

.panel-chat {
  max-width: 300px;
  margin: 0 auto;
}

.panel-chat .messages {
    height: 400px;
    overflow-y: scroll;
    word-wrap: break-word;
}

.chat-buttons {
    margin-top: 15px;
}

.panel-chat .btn-send {
    margin-left: 1px;
    padding: 5px 10px;
}

.panel-chat .popup {
    padding: 5px 2px;
}

.panel-chat .popup:hover {
    color: #128f76;
}

#chat-div {
    min-width: 200px;
}
