body {
font-family:"Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
color: #292929;
}

#headerbar{
width: 100%;	
padding: 0px;
background: #292929;
margin: 0px;
}

#searchbar{
	background: #F8F8F8
}
#search {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
input#query {
  width: 86%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
header{
	padding: 0px;
}

h2{
color: #DE2925 !important;
margin-bottom:30px;
font-size:2.6em;
}

footer{
background:#292929;
padding: 20px;	
color: #fff;
}

a{
color: #97C8F5;	
}

#email {
  width: 100%;
  border-right: 4px;
  padding: 7px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#questionname{
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  width: 100%;

}

div#reddit {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#podcastcontrolls{
	margin-top: 10px;
}

.nav-tabs {
border-bottom: none !important;
}

.nav-tabs>li>a{
border: none !important;
}

.nav{
padding: 15px 0 0 0;
margin-top: 10px;	
}
.nav-tabs>li{
margin-bottom: 0px !important;	
}
h1.sitetitle {
color: #fff;
text-align: center;
}
.title{
margin-left: 10px;	
}

ul.nav.nav-tabs {
width: 437px;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 1.2em;
padding-top: 33px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
color: #CA1D20 !important;
background: #fff !important;
}

.nav>li>a:hover{
background-color: #fff !important;
color: #CA1D20 !important;
}

.nav-tabs>li a{
background-color: #337ab7;
margin-left: 5px;
border-top-left-radius:4px;
border-top-right-radius:4px;
color: #fff;
font-weight: bolder;
}
.container{
margin-bottom: 10px;	
}
.container a:hover{
text-decoration:none;
}
.container a{
padding: 2px;
font-size: 1.2em;	
color: #CA1D20;
font-weight: bolder;	
}

.full {
width: 100%;
text-align: center;
}
.col-lg-6{
margin-bottom: 10px;
}

#twitterclm {
margin-top: 10px;
margin-left: auto;
margin-right: auto;
float: none;
width: 209px;
display: block;
}

.white{
color: #fff;	
}

.topform {
margin-left: auto;
margin-right: auto;
width: 254px;
margin-top:10px;
}
.topform p {
float: left;
padding: 0px 0px 0px 0px;
}
.toptext {
margin-top: 10px;
text-align: center;
font-size: 1.4em;
}

@media screen and (max-width: 400px){
ul.nav.nav-tabs	{
width: 333px;	
}
.nav-tabs>li a{
min-width: 123px;	
}

h1{
font-size: 34px !important;
	
}
}
#currentpodcast{
	margin-bottom: 10px;
}
/* Podcast CSS */
#podcastbutton{
border-radius: 0px;
padding: 8px 15px;
background-color: #DE2925;
border: none;
color: #fff;
}
#podimage{
max-width: 300px;
float: left;	
}
#podcastcontent{
float: left;
}

.podcontainer{
	float: left;
	padding-left: 40px !important;
	padding-right: 40px !important;
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#podcastcontent {
float: left;
margin-left: 40px;
max-width: 720px;
}


.pagination>.active>a, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
background: #CA1D20 !important;
border-color: #BD343B !important; 
color: #fff;	
}

h3.list-group-item.active{
color: #fff;
}

.list-group-item.active .list-group-item-text{
	color: #fff !important;
}

.btn-default {
  color: #fff !important;
  background-color: #277CB3 !important;
  border-color: #337AB7 !important;
}
