.alert {
    position: relative;
    z-index: 10;
}

.stream-title {
    padding-bottom: 5px;
}

/* Fixes for scrollbar in chat */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Responsive YT/Twitch video players */
.video-container {
    position: relative;
    padding-bottom: 62.5%;
    height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.viewers-and-subscribers > * {
    margin-left: 10px;
}

.viewers-and-subscribers {
    margin-top: 5px;
}

.dashboard-rtmp-info {
    cursor: auto;
}

.dashboard-rtmp-key {
    width: 100%;
}

div.email-info-form,
div.add-video-form {
    max-width: 400px;
}

div.private-info {
    padding-top: 20px;
}

/* Flatly navbar is no longer rounded */
.navbar {
    border-radius: 0px;
}

.edit-title-button {
    margin-left: 10px;
}

.edit-info-button {
    margin-top: 10px;
}

/* Fix modals with flatly theme */
.modal-dialog {
    z-index: 1050;
}

.form-subscribe .form-control {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 4px !important;
}

.form-subscribe .input-group {
    margin-bottom: 5px;
}

.form-subscribe .panel-body {
    height: 100px;
}

.form-subscribe p.error {
    color: #E74C3C;
}

form[role=search] .form-control:focus {
    border-color: #98BEC2;
}

.tab-content {
    padding-top: 15px;
}
